.bot-board{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.bot-board--small{
  transform: scale(0.9);
}

.bot-board__title{
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
  
}

.bot-board__title--thinner{
  font-weight: 300;
     
}

.bot-board__line{
  display: flex;
  justify-content: center;
}

.bot-board__item{
  width: 10%;
  height: 100%;
  border: 1px solid gray;
  cursor: default;
}

.bot-board__item--1{
  opacity: 0.7;
}

.bot-board__item--2{
  opacity: 1;
  background-color: #ffcccb;
}

.bot-board__item---1{
  background-color: aqua;
  cursor: default;
}