.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boards-container__player{
  width: 45%;
  transform: scale(0.9);
}